@import "tailwindcss";

@theme {
  --color-cyber-bg: #0b0f19;
  --color-cyber-surface: #151b2b;
  --color-cyber-border: #232b40;
  
  --color-cyber-primary: #00f0ff;
  --color-cyber-primary-hover: #00c3cf;
  
  --color-cyber-success: #00ff66;
  --color-cyber-warning: #ffcc00;
  --color-cyber-danger: #ff3366;
  
  --color-cyber-text-main: #e2e8f0;
  --color-cyber-text-muted: #94a3b8;
  
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  body {
    @apply bg-cyber-bg text-cyber-text-main font-sans antialiased;
  }
}
